* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

  p .bttn {
    background-color: black;
    width: 250px;
  }

  p .bttn:hover {
    background-color: red;
  }
  

  .side-main {
    padding: 20px;
    background-color: darkblue;
    
  }

  .txt {
    color: rgba(255, 166, 0, 0.775);
  }

 